@charset "utf-8";

html 
{
	height: 100%;
	margin: 0; padding: 0; border: 0;
	background-color: hsl(194, 140, 140);
    text-align: initial;
	color:rgb(33, 22, 22);
}



h2
{
	
	color:rgb(115, 127, 144);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
	background-color: #16362d;
	color: hsl(178, 207, 235);
	text-align:center;
	vertical-align: middle;
	height: 40px;
}


body 
{
	margin: 0px auto auto auto;
	width: 100%;
	min-width: 320px;
	background-color: rgb(157, 201, 130);
	font-family:cursive;
	font-size: 12px;
	line-height: 1.4;
	
}

div{
	
    float: left;
    width: 25%;
    box-sizing: border-box;
    height:350px;
    text-align: center;
    border: 1px solid rgb(23, 16, 16);
	
}
@media screen and (max-width: 700px) {
  div{
    width: 100%;
  }
    
}
    
@media screen and (max-width: 500px) {
div{
    font-size: 16px;
    width: 100%;
}
    
}
@media screen and (min-width: 800px) {
	footer{
       display: none;
	}
	  
  }
